.dropdown-hover:hover>.dropdown-menu{
  display: block;
}
.dropdown-hover>.dropdown-toggle:active {
    pointer-events: none;
}
.dropdown-toggle::after {
    display:none;
}

.jumbotron{
    height: 100vh;
}

.jumbotron>.container{
	padding: 20px, 0;
}

.nav-margin{
	margin-top: 100px;
}
/*--------------------------------------------------------------------------------                                        
                            KKM PAGE
=================================================================================*/
.kkm-logo{
	max-height: 48px;
}

.kkm-chief{
	max-height: 32px;
}

.rounded-circle{
    width: 30px;
    height: 30px;
}

.kkm-content{
    height: 100px;
    font-size: 12px;
    text-align: center;
    display: table;
}
.kkm-content-inner{
  display: table-cell;
  vertical-align: middle;   
}
.anggota-photo{
  object-fit: none;
  object-position: center;
  width: 100%;
  max-height: 200px;
  margin-bottom: 1rem;
}